
    </div>
    <hr/>
    <footer class="container">
        <p><a href="" target="_blank">bwhite</a> 2012</p>
    </footer>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>
