<div class="jumbotron">
    <form action="/post" method="post">
      <div class="row justify-content-md-center">
        <div class="col-7">
          <input type="text" name="post" class="form-control">
        </div>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-success">发表</button>
        </div>
      </div>
    </form>
</div>
